/*Colors and cd-sections*/
.cd-red {
  background: #c0392b !important;
}

.cd-orange {
	background: #f39c12 !important;
}

.cd-yellow {
	background: #f1c40f !important;
}

.cd-green {
	background: #16a085 !important;
}

.cd-blue {
	background: #2980b9 !important;
}

.cd-purple {
	background: #8e44ad !important;
}

.cd-black {
	background: #000 !important;
}

.cd-white {
	background-color: #fff !important;
}

.cd-gray {
	background: #95a5a6 !important;
}

/*intro dot design*/
.cd-dot.cd-intro {
	background-color: #2c3e50;
}

/*Emotions and icons*/
/*.cd-section.cd-header {
	background-image: url(../img/love-emotion.svg);
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: top 20% center;
}*/